@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*動態 */
/*RWD */
/* line 67, ../sass/_mixin.sass */
a:hover {
  text-decoration: none;
}

/* line 2, ../sass/_header.sass */
#wrap #main-nav {
  display: none;
}

/* line 4, ../sass/_header.sass */
.container-fluid.menu-wrapper-area {
  display: none;
}

/* line 7, ../sass/_header.sass */
.navbar.navbar-default {
  margin-bottom: 0;
  background: none;
  border: none;
  min-height: 97px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}

/* line 16, ../sass/_header.sass */
.navbar-header {
  width: 40%;
  position: relative;
  z-index: 99999;
}

/* line 20, ../sass/_header.sass */
.collapse.navbar-collapse, .collapsing {
  position: relative;
}
/* line 22, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right, .collapsing .nav.navbar-nav.pull-right {
  width: calc(100% - 40%);
  display: inline-block;
}
/* line 25, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li, .collapsing .nav.navbar-nav.pull-right > li {
  min-height: 97px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0em;
  z-index: 999999;
  width: calc(100% / 6);
  transition: 0.5s ease;
}
/* line 35, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li::after, .collapsing .nav.navbar-nav.pull-right > li::after {
  content: "";
  width: 2px;
  height: 1em;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 1.2em;
  display: inline-block;
}
/* line 45, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:last-child::after, .collapse.navbar-collapse .nav.navbar-nav.pull-right > li:nth-last-child(2)::after, .collapsing .nav.navbar-nav.pull-right > li:last-child::after, .collapsing .nav.navbar-nav.pull-right > li:nth-last-child(2)::after {
  display: none;
}
/* line 47, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li a, .collapsing .nav.navbar-nav.pull-right > li a {
  padding: 1em;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
}
/* line 52, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li.fb, .collapsing .nav.navbar-nav.pull-right > li.fb {
  width: auto;
  margin: 0;
}
/* line 55, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li.fb > a, .collapsing .nav.navbar-nav.pull-right > li.fb > a {
  padding-bottom: 0.5em;
}
/* line 57, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li.fb:hover, .collapsing .nav.navbar-nav.pull-right > li.fb:hover {
  background: transparent;
}
/* line 59, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover, .collapsing .nav.navbar-nav.pull-right > li:hover {
  background: #F8B62D;
}
/* line 61, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > a, .collapsing .nav.navbar-nav.pull-right > li:hover > a {
  color: #fff;
}
/* line 63, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu {
  background: rgba(248, 182, 45, 0.4);
  box-shadow: none;
  border: none;
}
/* line 67, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu a, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu a {
  color: #fff;
}
/* line 69, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:hover, .collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:active, .collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:focus, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:hover, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:active, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:focus {
  background: rgba(248, 182, 45, 0.7);
}
/* line 71, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:hover a:hover, .collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:active a:hover, .collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:focus a:hover, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:hover a:hover, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:active a:hover, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu li:focus a:hover {
  color: #fff;
  background: transparent;
}
/* line 75, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu > .dropdown-submenu .dropdown-menu, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu > .dropdown-submenu .dropdown-menu {
  background: rgba(248, 182, 45, 0.4);
}
/* line 77, ../sass/_header.sass */
.collapse.navbar-collapse .nav.navbar-nav.pull-right > li:hover > .dropdown-menu > .dropdown-submenu .dropdown-menu:hover, .collapsing .nav.navbar-nav.pull-right > li:hover > .dropdown-menu > .dropdown-submenu .dropdown-menu:hover {
  background: rrgba(#F8B62D, 0.7);
}

@media screen and (min-width: 768px) {
  /*三層選單設定*/
  /* line 3, ../sass/_three_menu.scss */
  .dropdown-submenu {
    position: relative;
  }

  /* line 4, ../sass/_three_menu.scss */
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  /* line 5, ../sass/_three_menu.scss */
  .dropdown-submenu.pull-left {
    float: none;
  }

  /* line 5, ../sass/_three_menu.scss */
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  /* line 6, ../sass/_three_menu.scss */
  .dropdown-submenu:hover > a:after {
    border-left-color: #555;
  }

  /* line 7, ../sass/_three_menu.scss */
  .dropdown-menu > li:hover .sub-menu {
    visibility: visible;
  }

  /* line 8, ../sass/_three_menu.scss */
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
/* line 2, ../sass/_index-section.sass */
._index {
  padding: 0;
}

/* line 4, ../sass/_index-section.sass */
* {
  font-family: "Noto Sans TC", "微軟正黑體", "sans-serif";
}

/* line 7, ../sass/_index-section.sass */
.index_section1 {
  padding-bottom: 3em;
}
/* line 9, ../sass/_index-section.sass */
.index_section1 .col-sm-4 {
  margin-top: -125px;
}
/* line 11, ../sass/_index-section.sass */
.index_section1 .col-sm-4::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #00A29A;
  display: block;
  margin: 1em auto 0;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 22, ../sass/_index-section.sass */
.index_section1 .col-sm-4:hover::after {
  transform: scale(1);
}
/* line 25, ../sass/_index-section.sass */
.index_section1 figure a {
  display: block;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  border: 5px solid #fff;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s ease;
  position: relative;
  z-index: 99999;
}
/* line 37, ../sass/_index-section.sass */
.index_section1 figure a .hover-icon {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 9999;
  transform: scale(0);
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
@media screen and (max-width: 767px) {
  /* line 37, ../sass/_index-section.sass */
  .index_section1 figure a .hover-icon {
    display: -webkit-block;
    display: block;
  }
}
/* line 46, ../sass/_index-section.sass */
.index_section1 figure a > img {
  width: 100%;
}
/* line 48, ../sass/_index-section.sass */
.index_section1 figure a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: 0.5s ease;
}
/* line 60, ../sass/_index-section.sass */
.index_section1 figure a:hover {
  border-color: #00A29A;
}
/* line 62, ../sass/_index-section.sass */
.index_section1 figure a:hover .hover-icon {
  transform: scale(1);
}
/* line 64, ../sass/_index-section.sass */
.index_section1 figure a:hover::after {
  opacity: 1;
}
/* line 66, ../sass/_index-section.sass */
.index_section1 p {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 1em;
  color: #666;
}
/* line 72, ../sass/_index-section.sass */
.index_section1 p::before, .index_section1 p::after {
  content: "";
  display: inline-flex;
  justify-content: center;
  width: 10%;
  height: 1px;
  background: #666;
  margin: 0em 0.5em;
  position: relative;
  top: -0.3em;
}
/* line 82, ../sass/_index-section.sass */
.index_section1 figcaption {
  font-size: 1.2em;
  text-align: center;
  color: #666;
  font-weight: lighter;
}

/* line 89, ../sass/_index-section.sass */
.index_section2 {
  width: 100%;
  padding: 1em 5em 5em;
  background: #EFEFEF;
}
/* line 93, ../sass/_index-section.sass */
.index_section2 h1.title {
  font-weight: 300;
  border-left: 5px solid #F8B62D;
  padding-left: 0.5em;
  font-size: 2.2em;
  margin-bottom: 1.5em;
}
/* line 99, ../sass/_index-section.sass */
.index_section2 h1.title span {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 0.2em;
}
/* line 105, ../sass/_index-section.sass */
.index_section2 .item .info {
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  transform: scale(0);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20% 0 10%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
@media screen and (max-width: 767px) {
  /* line 105, ../sass/_index-section.sass */
  .index_section2 .item .info {
    display: -webkit-block;
    display: block;
  }
}
/* line 116, ../sass/_index-section.sass */
.index_section2 .item .info h1 {
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 100;
}
/* line 122, ../sass/_index-section.sass */
.index_section2 .item .info h1::after {
  content: "";
  width: 2em;
  height: 3px;
  display: block;
  margin: 1.2em auto 0;
  background: #F8B62D;
}
/* line 129, ../sass/_index-section.sass */
.index_section2 .item .info p {
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  width: 4em;
  height: 4em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 1.1em;
  padding: 0;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  /* line 129, ../sass/_index-section.sass */
  .index_section2 .item .info p {
    display: -webkit-block;
    display: block;
  }
}
/* line 140, ../sass/_index-section.sass */
.index_section2 .item figure::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  transition: 0.5s ease;
}
/* line 152, ../sass/_index-section.sass */
.index_section2 .item .youtube {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  /* line 152, ../sass/_index-section.sass */
  .index_section2 .item .youtube {
    display: -webkit-block;
    display: block;
  }
}
/* line 160, ../sass/_index-section.sass */
.index_section2 .item .youtube img {
  width: 5em;
  transform: scale(0);
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 165, ../sass/_index-section.sass */
.index_section2 .item:hover .youtube img {
  transform: scale(1);
}
/* line 167, ../sass/_index-section.sass */
.index_section2 .item:hover figure::after {
  opacity: 1;
  transition: 0.5s ease;
}
/* line 170, ../sass/_index-section.sass */
.index_section2 .item:hover .info {
  transform: scale(1);
}
/* line 172, ../sass/_index-section.sass */
.index_section2 .owl-dots.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 8em;
  position: absolute;
  top: -6em;
  right: 0;
}
/* line 181, ../sass/_index-section.sass */
.index_section2 .owl-dots.owl-dots .owl-dot {
  display: inline-flex;
  margin: 0 0.5em;
}
/* line 184, ../sass/_index-section.sass */
.index_section2 .owl-dots.owl-dots .owl-dot span {
  background: #00A29A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-flex;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 192, ../sass/_index-section.sass */
.index_section2 .owl-dots.owl-dots .owl-dot.active span {
  background: #F8B62D;
}

/* line 195, ../sass/_index-section.sass */
.index_section3 {
  width: 100%;
  padding: 3em 0;
}
/* line 198, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 {
  padding: 0;
  position: relative;
  overflow: hidden;
}
/* line 202, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a {
  display: block;
}
/* line 204, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: 0.5s ease;
}
/* line 215, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a .info {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4em 0;
  z-index: 9;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s ease;
}
@media screen and (max-width: 767px) {
  /* line 215, ../sass/_index-section.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    display: -webkit-block;
    display: block;
  }
}
/* line 227, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a .info h1 {
  color: #000;
  font-weight: normal;
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}
/* line 235, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a .info h1::after {
  content: "";
  display: block;
  width: 2em;
  height: 5px;
  background: #00A29A;
  margin: 0.5em auto -0.5em;
}
/* line 242, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a .info p {
  color: #000;
  font-size: 1.5em;
  margin-top: 0;
}
/* line 248, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a:hover::after {
  opacity: 1;
}
/* line 250, ../sass/_index-section.sass */
.index_section3 .col-sm-4.col-sm-4 a:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

/* line 2, ../sass/_footer.sass */
.pull-right.copyright, .pull-left.copyright {
  display: none;
}

/* line 4, ../sass/_footer.sass */
footer {
  background: transparent;
  padding: 0;
}
/* line 7, ../sass/_footer.sass */
footer .container-fluid {
  padding: 0;
}
/* line 9, ../sass/_footer.sass */
footer .foot {
  background: #efefef;
  padding: 2em 0 0em;
}
/* line 13, ../sass/_footer.sass */
footer .col-sm-3 {
  padding: 0em;
}
/* line 15, ../sass/_footer.sass */
footer .col-sm-3 h1 {
  font-size: 2.2em;
  font-weight: bold;
  color: #000;
  padding-left: 1em;
}
/* line 20, ../sass/_footer.sass */
footer .col-sm-3 p, footer .col-sm-3 address {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}
/* line 24, ../sass/_footer.sass */
footer .col-sm-3 p img, footer .col-sm-3 address img {
  margin-right: 0.5em;
}
/* line 26, ../sass/_footer.sass */
footer .col-sm-3 p:last-child {
  padding-left: 2em;
}
/* line 28, ../sass/_footer.sass */
footer .col-sm-3 p:last-child .fb-icon {
  margin-left: 3em;
}
/* line 31, ../sass/_footer.sass */
footer .col-sm-3:first-child p a {
  color: #EA5514;
}
/* line 34, ../sass/_footer.sass */
footer .col-sm-3 iframe {
  padding: 0 0em;
}
/* line 36, ../sass/_footer.sass */
footer .col-sm-3 iframe + ul {
  margin-bottom: 0;
}
/* line 38, ../sass/_footer.sass */
footer .col-sm-3 iframe + ul li {
  width: calc(100% / 5 -  3px);
  padding: 0;
  margin: 0em;
  text-align: center;
}
/* line 45, ../sass/_footer.sass */
footer .col-sm-6 iframe {
  padding: 0 3em;
}
/* line 47, ../sass/_footer.sass */
footer .col-sm-6 ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 2em;
  align-items: flex-end;
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  /* line 47, ../sass/_footer.sass */
  footer .col-sm-6 ul {
    display: -webkit-block;
    display: block;
  }
}
/* line 52, ../sass/_footer.sass */
footer .col-sm-6 ul li {
  width: calc(100% / 5);
  text-align: center;
  border-right: 1px solid #000;
}
/* line 56, ../sass/_footer.sass */
footer .col-sm-6 ul li:last-child {
  border-right: 0;
}
/* line 58, ../sass/_footer.sass */
footer .col-sm-6 ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s ease;
}
/* line 62, ../sass/_footer.sass */
footer .col-sm-6 ul li a:hover {
  color: #00A29A;
}
/* line 64, ../sass/_footer.sass */
footer > p {
  width: 100%;
  background: #fff;
  width: 100%;
  margin-bottom: 0;
  padding: 1em 0;
  font-size: 12px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 3, ../sass/_media.sass */
  .navbar.navbar-default .container {
    width: 100%;
    padding: 0;
  }

  /* line 6, ../sass/_media.sass */
  .collapse.navbar-collapse {
    width: 100%;
  }

  /* line 8, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    width: calc(100% / 5 - 15px);
  }

  /* line 10, ../sass/_media.sass */
  .index_section2 {
    padding: 1em 1em;
  }

  /* line 12, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    padding: 2em 0;
  }

  /* line 15, ../sass/_media.sass */
  .foot .row {
    display: flex;
    justify-content: center;
  }
  /* line 18, ../sass/_media.sass */
  .foot .col-sm-3 {
    width: calc( 100% / 3 - 5em);
  }
  /* line 20, ../sass/_media.sass */
  .foot .col-sm-6 {
    padding: 0;
    width: calc(100% / 3 + 5em);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 24, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    min-height: 70px;
  }

  /* line 26, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li::after {
    bottom: 0.2em;
  }

  /* line 28, ../sass/_media.sass */
  .navbar-header {
    width: 35%;
    margin-top: 1.5em;
  }

  /* line 31, ../sass/_media.sass */
  .index_section1 figure a {
    width: 200px;
    height: 200px;
  }

  /* line 34, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right {
    width: 65%;
    margin-left: 0.3em;
  }
  /* line 37, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right a {
    padding: 0 0.7em;
  }

  /* line 40, ../sass/_media.sass */
  .navbar.navbar-default .container {
    width: 100%;
    padding: 0;
  }

  /* line 43, ../sass/_media.sass */
  .collapse.navbar-collapse {
    width: 100%;
  }

  /* line 45, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    width: auto;
  }

  /* line 47, ../sass/_media.sass */
  .index_section2 {
    padding: 1em 1em;
  }

  /* line 49, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    padding: 2em 0;
  }

  /* line 52, ../sass/_media.sass */
  .foot .row {
    display: flex;
    justify-content: center;
  }
  /* line 55, ../sass/_media.sass */
  .foot .col-sm-3 {
    width: calc( 100% / 3 - 5em);
  }
  /* line 57, ../sass/_media.sass */
  .foot .col-sm-6 {
    padding: 0;
    width: calc(100% / 3 + 5em);
  }

  /* line 60, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li a {
    padding: 0 1em;
  }

  /* line 62, ../sass/_media.sass */
  .index_section2 .item .info h1 {
    font-size: 1.5em;
  }

  /* line 64, ../sass/_media.sass */
  .index_section2 .item .info p {
    font-size: 0.7em;
  }

  /* line 66, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info h1 {
    font-size: 1.5em;
  }

  /* line 68, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info p {
    font-size: 1.2em;
  }

  /* line 70, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    padding: 1em 0;
  }

  /* line 73, ../sass/_media.sass */
  .foot .row {
    display: flex;
    justify-content: center;
  }
  /* line 76, ../sass/_media.sass */
  .foot .col-sm-3 {
    width: calc( 100% / 3 - 2em);
  }
  /* line 78, ../sass/_media.sass */
  .foot .col-sm-6 {
    padding: 0;
    width: calc(100% / 3 + 2em);
  }

  /* line 81, ../sass/_media.sass */
  footer .col-sm-3:first-child h1, footer .col-sm-3:last-child h1 {
    font-size: 1.5em;
  }

  /* line 83, ../sass/_media.sass */
  footer .col-sm-3:first-child p, footer .col-sm-3:first-child address, footer .col-sm-3:last-child p, footer .col-sm-3:last-child address {
    font-size: 1em;
  }

  /* line 85, ../sass/_media.sass */
  footer .col-sm-6 ul li {
    padding: 0;
  }
  /* line 87, ../sass/_media.sass */
  footer .col-sm-6 ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  /* line 90, ../sass/_media.sass */
  .navbar-header {
    width: 100%;
    padding-top: 0.5em;
  }

  /* line 93, ../sass/_media.sass */
  .navbar.navbar-default {
    width: 100%;
    position: static;
    min-height: auto;
  }
  /* line 97, ../sass/_media.sass */
  .navbar.navbar-default .container {
    padding: 0;
  }
  /* line 99, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header {
    margin: 0;
    align-items: center;
  }
  /* line 102, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header .brand {
    max-width: 280px;
    display: inline-block;
    margin-left: 1em;
  }
  /* line 106, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header .navbar-toggle {
    margin-top: 25px;
  }

  /* line 108, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1, .navbar-collapse.collapsing#navbar-collapse-1 {
    background: #f8b62d;
    margin: 0;
  }
  /* line 111, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right {
    width: 100%;
    display: inherit;
    margin: 0;
  }
  /* line 115, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li {
    display: block;
    width: 100%;
    align-items: inherit;
    min-height: auto;
    border-right: none;
  }
  /* line 121, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li::after, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li::after {
    display: none;
  }
  /* line 124, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open a, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open a {
    background: #eaa108;
  }
  /* line 126, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open > ul, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open > ul {
    padding: 0;
  }

  /* line 128, ../sass/_media.sass */
  #wrap {
    padding-top: 0;
  }

  /* line 130, ../sass/_media.sass */
  .index_section1 {
    padding: 3em 0;
  }
  /* line 132, ../sass/_media.sass */
  .index_section1 .col-sm-4 {
    margin: 1em 0;
  }
  /* line 134, ../sass/_media.sass */
  .index_section1 .col-sm-4::first-child {
    margin-top: 0;
  }
  /* line 136, ../sass/_media.sass */
  .index_section1 .col-sm-4::last-child {
    margin-bottom: 0;
  }
  /* line 139, ../sass/_media.sass */
  .index_section1 .col-sm-4 figure a {
    width: 280px;
    height: 280px;
    border-color: #00A29A;
  }
  /* line 143, ../sass/_media.sass */
  .index_section1 .col-sm-4 figure a::after {
    opacity: 0.7;
  }
  /* line 145, ../sass/_media.sass */
  .index_section1 .col-sm-4 figure a .hover-icon {
    transform: scale(1);
    display: flex;
    align-items: center;
  }

  /* line 149, ../sass/_media.sass */
  .index_section2 {
    padding: 3em 3em;
  }
  /* line 151, ../sass/_media.sass */
  .index_section2 .owl-dots.owl-dots {
    display: none;
  }
  /* line 153, ../sass/_media.sass */
  .index_section2 .title {
    text-align: left;
  }
  /* line 156, ../sass/_media.sass */
  .index_section2 .item .info {
    display: -webkit-flex;
    display: flex;
  }
  /* line 158, ../sass/_media.sass */
  .index_section2 .item .info p {
    display: -webkit-flex;
    display: flex;
  }
  /* line 160, ../sass/_media.sass */
  .index_section2 .item .youtube {
    display: -webkit-flex;
    display: flex;
  }

  /* line 163, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 {
    margin: 1em 0;
  }
  /* line 166, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    display: -webkit-flex;
    display: flex;
  }

  /* line 170, ../sass/_media.sass */
  .foot .container .row {
    margin: 0;
  }
  /* line 172, ../sass/_media.sass */
  .foot .container .row .col-sm-6 {
    padding: 0;
    margin: 0em 0;
  }
  /* line 175, ../sass/_media.sass */
  .foot .container .row .col-sm-6 iframe {
    padding: 0;
  }
  /* line 178, ../sass/_media.sass */
  .foot .container ul li {
    padding: 0 0.5em;
    margin: 0;
    width: auto;
  }
  /* line 182, ../sass/_media.sass */
  .foot .col-sm-3 {
    margin: 1em 0;
  }
  /* line 184, ../sass/_media.sass */
  .foot .col-sm-3:first-child {
    margin-top: 0;
  }

  /* line 186, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    opacity: 1;
    transform: translateY(0px);
  }

  /* line 189, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a::after {
    opacity: 0.7;
  }
}

/*# sourceMappingURL=usercss.css.map */
