// raw預設
.pull-right.copyright,.pull-left.copyright
	display: none
footer
	background: $color-n
	padding: 0
	.container-fluid
		padding: 0
	.foot
		background: #efefef
		padding: 2em 0 0em
	.col-sm-3
		&
			padding: 0em
			h1
				font-size: 2.2em
				font-weight: bold
				color: #000
				padding-left: 1em
			p,address
				display: flex
				align-items: center
				font-size: 1.3em
				img
					margin-right: .5em
			p:last-child
				padding-left: 2em
				.fb-icon
					margin-left: 3em
		&:first-child
			p a
				color: $color-3
			
		iframe
			padding: 0 0em
			&+ul
				margin-bottom: 0
				li
					width: calc(100% / 5 -  3px)
					padding: 0
					margin: 0em
					text-align: center
					
	.col-sm-6
		iframe
			padding: 0 3em
		ul
			+flex-center
			margin-top: 2em
			align-items: flex-end
			margin-bottom: 0px
			li
				width: calc(100% / 5)
				text-align: center
				border-right: 1px solid #000
				&:last-child
					border-right: 0
				a
					color: #000
					text-decoration: none
					transition: $transition-1
					&:hover
						color: $color-2
	>p
		width: 100%
		background: #fff
		width: 100%
		margin-bottom: 0
		padding: 1em 0
		font-size: 12px