// RAW預設刪除
#wrap #main-nav
	display: none
.container-fluid.menu-wrapper-area
	display: none

.navbar.navbar-default
	margin-bottom: 0
	background: none
	border: none
	min-height: 97px
	position: absolute
	top: 0
	width: 100%
	z-index: 99999
.navbar-header
	width: 40%
	position: relative
	z-index: 99999
.collapse.navbar-collapse,.collapsing
	position: relative
	.nav.navbar-nav.pull-right
		width: calc(100% - 40%)
		display: inline-block
		>li
			min-height: 97px
			position: relative
			display: flex
			align-items: flex-end
			justify-content: center
			margin: 0 0em
			z-index: 999999
			width: calc(100% / 6)
			transition: $transition-1
			&::after
				content: ''
				width: 2px
				height: 1em
				background: #fff
				position: absolute
				right: 0
				bottom: 1.2em
				display: inline-block
			&:last-child,&:nth-last-child(2)
				&::after
					display: none
			a
				padding: 1em
				text-align: center
				color: #fff
				font-size: 1.1em
			&.fb
				width: auto
				margin: 0
				>a
					padding-bottom: .5em	
				&:hover
					background: $color-n
			&:hover
				background: $color-1
				>a
					color: #fff
				>.dropdown-menu
					background: rgba($color-1,.4)
					box-shadow: none
					border: none
					a
						color: #fff
					li:hover,li:active,li:focus
						background: rgba($color-1,.7)
						a:hover
							color: #fff
							background: $color-n
					>.dropdown-submenu
						.dropdown-menu
							background: rgba($color-1,.4)
							&:hover
								background: rrgba($color-1,.7)



