// raw預設
._index
	padding: 0
*
	font-family: $fm-google
// 三個圓圈
.index_section1
	padding-bottom: 3em
	.col-sm-4
		margin-top: -125px
		&::after
			content: ''
			width: 10px
			height: 10px
			background: $color-2
			display: block
			margin: 1em auto 0
			border-radius: 50%
			transform: scale(0)
			transition: $transition-2
		&:hover
			&::after
				transform: scale(1)
	figure
		a
			display: block
			width: 230px
			height: 230px
			margin: 0 auto
			border: 5px solid #fff
			position: relative
			border-radius: 50%
			overflow: hidden
			transition: $transition-1	
			position: relative
			z-index: 99999
			.hover-icon
				width: 100%
				height: 100%
				+flex-center
				position: absolute
				top: 0
				z-index: 9999	
				transform: scale(0)
				transition: $transition-2
			>img
				width: 100%
			&::after
				content: '' 
				display: block
				width: 100%
				height: 100%
				background: rgba(255,255,255,.8)
				position: absolute
				top: 0
				left: 0
				z-index: 0
				opacity: 0
				transition: $transition-1
			&:hover
				border-color: $color-2
				.hover-icon
					transform: scale(1)	
				&::after
					opacity: 1
	p
		text-align: center
		font-size: 1.5em
		margin-bottom: 0
		margin-top: 1em
		color: #666
		&::before,&::after
			content: ''
			display: inline-flex
			justify-content: center
			width: 10%
			height: 1px
			background: #666
			margin: 0em .5em
			position: relative
			top: -.3em
	figcaption
		font-size: 1.2em
		text-align: center
		color: #666
		font-weight: lighter

// 最新消息
.index_section2
	width: 100%
	padding: 1em 5em 5em
	background: #EFEFEF
	h1.title
		font-weight: 300
		border-left: 5px solid $color-1
		padding-left: .5em
		font-size: 2.2em
		margin-bottom: 1.5em
		span
			display: block
			font-weight: 300
			font-size: .8em
			margin-top: .2em
	.item
		.info
			transition: $transition-2
			transform: scale(0)
			+flex-center
			padding: 20% 0 10%
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			z-index: 9999
			h1
				font-size: 1.8em
				width: 100%
				text-align: center
				color: #fff
				font-weight: 100
				&::after
					content: ''
					width: 2em
					height: 3px
					display: block
					margin: 1.2em auto 0
					background: $color-1
			p
				border-radius: 50%
				color: #fff
				border: 1px solid #fff
				width: 4em
				height: 4em
				+flex-center
				font-size: 1.1em
				padding: 0
				margin-top: 0
		figure
			&::after
				content: ''
				display: block
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0 
				background: rgba(0,0,0,.5)
				z-index: 0
				opacity: 0
				transition: $transition-1
		.youtube
			+flex-center
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			z-index: 9
			img
				width: 5em
				transform: scale(0)
				transition: $transition-2
		&:hover
			.youtube img
				transform: scale(1)
			figure::after
				opacity: 1
				transition: $transition-1
			.info
				transform: scale(1)
	.owl-dots.owl-dots
		display: flex
		align-items: center
		justify-content: center
		height: 2em
		width: 8em
		position: absolute
		top: -6em
		right: 0
		.owl-dot
			display: inline-flex
			margin: 0 .5em
			span
				background: $color-2
				width: 10px
				height: 10px
				border-radius: 50%
				display: inline-flex
				transition: $transition-2
		.owl-dot.active
			span
				background: $color-1

.index_section3
	width: 100%
	padding: 3em 0
	.col-sm-4.col-sm-4
		padding: 0
		position: relative
		overflow: hidden
		a
			display: block
			&::after
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(255,255,255,.7)
				opacity: 0
				transition: $transition-1
			.info
				width: 100%
				height: 100%
				+flex-center
				position: absolute
				top: 0
				left: 0
				padding: 4em 0
				z-index: 9
				transform: translateY(100px)
				opacity: 0
				transition: $transition-1
				h1
					color: #000
					font-weight: normal
					font-size: 2em
					width: 100%
					text-align: center
					margin-bottom: 0
					position: relative
					&::after
						content: ''
						display: block
						width: 2em
						height: 5px
						background: $color-2
						margin: .5em auto -.5em
				p
					color: #000
					font-size: 1.5em
					margin-top: 0
				
			&:hover
				&::after
					opacity: 1
				.info
					opacity: 1
					transform: translateY(-0px)