@media #{$mini-pc}
	.navbar.navbar-default
		.container
			width: 100%
			padding: 0
	.collapse.navbar-collapse
		width: 100%
	.collapse.navbar-collapse .nav.navbar-nav.pull-right > li
		width: calc(100% / 5 - 15px)
	.index_section2
		padding: 1em 1em
	.index_section3 .col-sm-4.col-sm-4 a .info
		padding: 2em 0
	.foot
		.row
			display: flex
			justify-content: center
		.col-sm-3
			width: calc( 100% / 3 - 5em)
		.col-sm-6
			padding: 0
			width: calc(100% / 3 + 5em)
@media #{$pad}
	.collapse.navbar-collapse .nav.navbar-nav.pull-right > li
		min-height: 70px
	.collapse.navbar-collapse .nav.navbar-nav.pull-right > li::after
		bottom: .2em
	.navbar-header
		width: 35%
		margin-top: 1.5em
	.index_section1 figure a
		width: 200px
		height: 200px
	.collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right
		width: 65%
		margin-left: .3em
		a
			padding: 0 .7em
	.navbar.navbar-default
		.container
			width: 100%
			padding: 0
	.collapse.navbar-collapse
		width: 100%
	.collapse.navbar-collapse .nav.navbar-nav.pull-right > li
		width: auto
	.index_section2
		padding: 1em 1em
	.index_section3 .col-sm-4.col-sm-4 a .info
		padding: 2em 0
	.foot
		.row
			display: flex
			justify-content: center
		.col-sm-3
			width: calc( 100% / 3 - 5em)
		.col-sm-6
			padding: 0
			width: calc(100% / 3 + 5em)
	.collapse.navbar-collapse .nav.navbar-nav.pull-right > li a
		padding: 0 1em
	.index_section2 .item .info h1
		font-size: 1.5em
	.index_section2 .item .info p
		font-size: .7em
	.index_section3 .col-sm-4.col-sm-4 a .info h1
		font-size: 1.5em
	.index_section3 .col-sm-4.col-sm-4 a .info p
		font-size: 1.2em
	.index_section3 .col-sm-4.col-sm-4 a .info
		padding: 1em 0
	.foot
		.row
			display: flex
			justify-content: center
		.col-sm-3
			width: calc( 100% / 3 - 2em)
		.col-sm-6
			padding: 0
			width: calc(100% / 3 + 2em)
	footer .col-sm-3:first-child h1, footer .col-sm-3:last-child h1
		font-size: 1.5em
	footer .col-sm-3:first-child p, footer .col-sm-3:first-child address, footer .col-sm-3:last-child p, footer .col-sm-3:last-child address
		font-size: 1em
	footer .col-sm-6 ul li 
		padding: 0
		a
			font-size: 12px
@media #{$mobile}
	.navbar-header
		width: 100%
		padding-top: .5em
	.navbar.navbar-default
		width: 100%
		position: static
		min-height: auto
		.container
			padding: 0
		.navbar-header
			margin: 0
			align-items: center
			.brand
				max-width: 280px
				display: inline-block
				margin-left: 1em
			.navbar-toggle
				margin-top: 25px
	.navbar-collapse#navbar-collapse-1,.navbar-collapse.collapsing#navbar-collapse-1
		background: rgba($color-1,1)	
		margin: 0
		.nav.navbar-nav.pull-right
			width: 100%
			display: inherit
			margin: 0
			>li
				display: block
				width: 100%
				align-items: inherit
				min-height: auto
				border-right: none	
				&::after
					display: none
				&.open
					a
						background: rgba(darken($color-1, 10%),1)
					>ul
						padding: 0
	#wrap
		padding-top: 0
	.index_section1 
		padding: 3em 0
		.col-sm-4
			margin: 1em 0
			&::first-child
				margin-top: 0
			&::last-child
				margin-bottom: 0
			figure
				a
					width: 280px
					height: 280px
					border-color: $color-2
					&::after
						opacity: .7
					.hover-icon
						transform: scale(1)
						display: flex
						align-items: center
	.index_section2 
		padding: 3em 3em
		.owl-dots.owl-dots
			display: none
		.title
			text-align: left
		.item 
			.info
				+display-flex(flex)
				p
					+display-flex(flex)
			.youtube
				+display-flex(flex)
	.index_section3
		.col-sm-4.col-sm-4
			margin: 1em 0
			a
				.info
					+display-flex(flex)
	.foot
		.container
			.row
				margin: 0
				.col-sm-6
					padding: 0
					margin: 0em 0
					iframe
						padding: 0
			ul
				li
					padding: 0 .5em
					margin: 0
					width: auto
		.col-sm-3
			margin: 1em 0
			&:first-child
				margin-top: 0
	.index_section3 .col-sm-4.col-sm-4 a .info
		opacity: 1
		transform: translateY(0px)
	.index_section3 .col-sm-4.col-sm-4 a::after
		opacity: .7
