    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/featherlight.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/usercss.css">
      <script src="js/featherlight.js"></script>
      <script src="js/owl.carousel.js"></script>
      <script src="js/userjs.js"></script>


    <!--頭部-->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="brand">
            <a href="/">
              <img src="images/headlogo.png" class="img-responsive" alt="">
            </a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <!--關於我們-->
            <li>
              <a href="">
                關於我們
              </a>
            </li>
            <!--開班訊息-->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">開班訊息
              </a>
              <ul class="dropdown-menu">
                <!--國小部-->
                <li class="dropdown dropdown-submenu">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">國小部</a>
                  <ul class="dropdown-menu">
                    <li><a href="">課輔安親班</a></li>
                    <li><a href="">長頸鹿美語</a></li>
                    <li><a href="">MPM國小數學</a></li>
                    <li><a href="">卡耶魯作文班</a></li>
                    <li><a href="">學校社團課後才藝課程</a></li>
                    <li><a href="">寒暑假主題營隊</a></li>
                  </ul>
                </li>
                <!--國中部-->
                <li class="dropdown dropdown-submenu">
                  <a class="dropdown-toggle" data-toggle="dropdown">國中部</a>
                  <ul class="dropdown-menu">
                    <li><a href="">校版英文</a></li>
                    <li><a href="">全民英檢班</a></li>
                    <li><a href="">MPM國中數學</a></li>
                    <li><a href="">會考數學衝刺班</a></li>
                    <li><a href="">自然科班</a></li>
                    <li><a href="">解題技巧題型班</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- 榮譽榜 -->
            <li><a href="">榮譽榜</a></li>
            <!-- 活動花絮 -->
            <li><a href="">活動花絮</a></li>
            <!-- 聯絡我們 -->
            <li><a href="">聯絡我們</a></li>
            <!-- facebook -->
            <li class="fb"><a href=""><img src="images/head-icon-1.png" alt=""></a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

<!--------------底部------------------>
   

    <!-- footer -->
      <footer class="foot container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <h1>杜老師文教機構</h1>
              <p class="tel"><a href="tel:02-2788-7119">
                <img src="images/footer-icon-1.png" alt="">
                國小部 02-2788-7119
              </a></p>
              <address><img src="images/footer-icon-2.png" alt="">台北市南港區富康街31號1樓</address>
              <p>
                <img src="images/footer-qr-1.jpg" alt="">
                <span class="fb-icon"><img src="images/head-icon-1.png" alt=""></span>
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.427344167373!2d121.61516631500663!3d25.053500983963254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab5778e704d9%3A0xcc661388018aefc6!2zMTE15Y-w5YyX5biC5Y2X5riv5Y2A5a-M5bq36KGXMzHomZ8!5e0!3m2!1szh-TW!2stw!4v1488261019222" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
              <ul class="list-inline">
                <li><a href="">關於我們</a></li>
                <li><a href="">開班資訊</a></li>
                <li><a href="">榮譽榜</a></li>
                <li><a href="">活動花絮</a></li>
                <li><a href="">聯絡我們</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
              <h1>杜老師文教機構</h1>
              <p class="tel"><a href="tel:02-2788-8800">
                <img src="images/footer-icon-1.png" alt="">
                國中部 02-2788-8800
              </a></p>
              <address><img src="images/footer-icon-2.png" alt="">台北市南港區富康街31號1樓</address>
              <p>
                <img src="images/footer-qr-2.jpg" alt="">
                <span class="fb-icon"><img src="images/head-icon-1.png" alt=""></span>
              </p>
            </div>
          </div>
        </div>
        <p class="text-center"><a href="http://redmedia.com.tw" target="_blank">＋網頁設計</a></p>
      </footer>
      
      