<!-- 輪播圖 -->
    <div class="owl-carousel banner">
      <item><img src="images/banner.png" alt=""></item>
    </div>



    <!-- section1 -->
    <div class="container index_section1">    
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <figure>
            <a href="">
              <img src="images/section-1-pic-1.png" class="img-responsive" alt="">
              <span class="hover-icon"><img src="images/section-icon-1.png" alt=""></span>
            </a>
              <p class="name">國小部</p>



              <figcaption>Elementary School</figcaption>
          </figure>
        </div>



        <div class="col-xs-12 col-sm-4">
          <figure>
            <a href="">
              <img src="images/section-1-pic-2.png" class="img-responsive" alt="">
              <span class="hover-icon"><img src="images/section-icon-2.png" alt=""></span>
            </a>
              <p class="name">國中部</p>



              <figcaption>Journal high School</figcaption>
          </figure>
        </div>



        <div class="col-xs-12 col-sm-4">
          <figure>
            <a href="">
              <img src="images/section-1-pic-3.png" class="img-responsive" alt="">
              <span class="hover-icon"><img src="images/section-icon-3.png" alt=""></span>
            </a>
              <p class="name">才藝中心</p>



              <figcaption>Talent Center</figcaption>
          </figure>
        </div>



      </div>



    </div>



    <!-- 最新消息 -->
    <div class="container index_section2">    
      <div class="row">
        <h1 class="title">最新消息<span>NEWS</span></h1>



        <div class="owl-carousel">
          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-1.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國中座談會</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-2.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國小寒假課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-3.jpg" alt="" class="img-responsive" data-pin-nopin="true">
                <div class="info">
                  <h1>國小公益課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-4.jpg" alt="" class="img-responsive">
                <div class="youtube">
                  <img src="images/youtube-icon.png" alt="">
                </div>



              </a>
            </figure>
          </div>



          <!-- 第二組 -->
          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-1.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國中座談會</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-2.jpg" alt="" class="img-responsive" data-pin-nopin="true">
                <div class="info">
                  <h1>國小寒假課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-3.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國小公益課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-4.jpg" alt="" class="img-responsive">
                <div class="youtube">
                  <img src="images/youtube-icon.png" alt="">
                </div>



              </a>
            </figure>
          </div>



          <!-- 第三組 -->
          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-1.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國中座談會</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-2.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國小寒假課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-3.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國小公益課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-4.jpg" alt="" class="img-responsive">
                <div class="youtube">
                  <img src="images/youtube-icon.png" alt="">
                </div>



              </a>
            </figure>
          </div>



          <!-- 第四組 -->
          
          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-1.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國中座談會</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-2.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國小寒假課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-3.jpg" alt="" class="img-responsive">
                <div class="info">
                  <h1>國小公益課程</h1>



                  <p>MORE</p>



                </div>



              </a>
            </figure>
          </div>



          <div class="item">
            <figure>
              <a href="">
                <img src="images/section-3-4.jpg" alt="" class="img-responsive">
                <div class="youtube">
                  <img src="images/youtube-icon.png" alt="">
                </div>



              </a>
            </figure>
          </div>



        </div>



      </div>



    </div>



    <!-- section-3 -->
    <div class="container index_section3">    
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <figure>
            <a href="">
              <img src="images/section-3-pic.jpg" alt="" class="img-responsive">
              <div class="info">
                <h1>活動花絮</h1>



                <p>ACTIVITY</p>



              </div>



            </a>
          </figure>
        </div>



        <div class="col-xs-12 col-sm-4">
          <figure>
            <a href="">
              <img src="images/section-3-pic.jpg" alt="" class="img-responsive">
              <div class="info">
                <h1>活動花絮</h1>



                <p>ACTIVITY</p>



              </div>



            </a>
          </figure>
        </div>



        <div class="col-xs-12 col-sm-4">
          <figure>
            <a href="">
              <img src="images/section-3-pic.jpg" alt="" class="img-responsive">
              <div class="info">
                <h1>活動花絮</h1>



                <p>ACTIVITY</p>



              </div>



            </a>
          </figure>
        </div>



      </div>



    </div>





    <script>
        $('.owl-carousel.banner').owlCarousel({
        loop:true,
        margin:0,
        nav:false,
        items:1,
        dots:true,
        animateOut: 'fadeOut',
        autoplay:true,
        autoplayHoverPause:false
      }); 
      $('.index_section2 .owl-carousel').owlCarousel({
        loop:true,
        margin:20,
        nav:false,
        items:4,
        dots:true,
        animateOut: 'fadeOut',
        autoplay:true,
        autoplayHoverPause:false,
        responsiveClass: true,
        responsive:{
          0:{
            items:1
          },
          767:{
            items:4
          }
        }
      }); 
    </script>